/* .cabecera {
    background-color: white; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    display: flex; 
    align-items: center; 
    height: 100px;
    justify-content: space-between;
    padding: 30px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo-escom,
.logo-ipn {
    height: 80px; 
    margin-right: 15px; 
}

.header-text {
    margin-left: auto;
    font-family: 'Poppins',sans-serif;
    font-size: 24px; 
    color: #333; 
    margin-right: 150px;
} */

body {
    background-image: url('fondoindex.png');
    font-family: Arial, sans-serif;
    background-color: #add8e6; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.container {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form, .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    width: 100%;
    margin: 0;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 50px;
}

button.social-login {
    background-color: #007bff; 
    color: white;
    margin-bottom: 10px;
}

button.social-login.facebook {
    background-color: #4267B2; 
}

button.social-login.twitter {
    background-color: #000000; 
}

button.social-login.email {
    background-color: #db4437; 
}

button.social-login:hover {
    opacity: 0.9;
}
